.main {
    display: block;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    color: #333;
}

.nav-container {
    float: left;
    border-bottom: 1px solid #d5dbdb;
    background-color: white;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    
}

.nav-container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 5px 10px 10px;
    height: 20px;
    padding-bottom: 2px;
    margin-right: 25px;
}

.nav-1 {
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
}

.menu-icon {
    width: 10px;
    height: 7px;
}

.search-icon {
    margin-left: 30px;
    width: 10px;
    height: 7px;
}

.space-cosmos a {
    text-decoration: none;
    margin-left: 30px;
    text-transform: uppercase;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: black;
    font-weight: 700;
    font-size: 14.25px;
}

.space-cosmos a:hover {
    text-decoration: underline;
}

.nav-3 {
    display: flex;
}

.subscribe-btn button {
    margin-right: 7px;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 12px 8px;
    width: 120px;
    height: 32px;
}

.subscribe-btn button:hover {
    background-color: rgb(50, 104, 145);;
}

.log-in button {
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 11px 12px 8px;
    width: 63px;
    height: 32px;
    letter-spacing: 0.05em;
}

.log-in button:hover {
    background-color: rgb(50, 104, 145);;
}

li {
    list-style-type: none;
}

hr {
    margin 0;
    color: #D3D3D3;
}

.header-img-container {
    display: flex;
    flex-direction: column;
    width: 945px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin: 70px auto 0 auto;
}

.article-title {
    width: 600px;
    height: 96px;
    font-size: 2.3rem;
    line-height: 3rem;
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
}

.telescope-img img {
    width: 945px;
    height: 532px;
    background-size: contain;
    margin-bottom: 5px;
}

.telescope-img p {
    width: 70%;
    margin: 0;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

.img-credit {
    color: #888;
    letter-spacing: 0.01em;
}

.article-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 48%;
    clear: left;
}

.article-section p {
    font-size: 1.40rem;
    line-height: 1.875rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.p-bold {
    font-weight: 1000;
    font-weight: bolder;
}

.article-anchor {
    color: #326891;
}

.article-anchor:hover {
    text-decoration: none;
}

.author-icons-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0;
}

.nav-date-icons ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 69px;
    margin-left: -40px;
}

.date {
    display: block;
    text-align: left;
    width: 100%;
}

.icons-cont1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 400px;
}

.aside-cont {
    float: right;
    margin-right: 40px;
}

.aside-1 {
    display: flex;
    flex-direction: column;
}

.aside-2 {
    display: flex;
}

.aside-2 img {
    width: 75px;
    height: 75px;
}

.aside-2 p {
    width: 125px;
    height: 68px;
    font-family: nyt-cheltenham-small, georgia, "times new roman";
    font-size: 14px;
    line-height: 17px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5px;
}

.mid-Thanks-subscribe {
    clear: left;
    text-align: center;
    line-height: 0.0001px;
}

.mid-Thanks-subscribe hr {
    width: 30%;
    background-color: #D3D3D3;
    height: 1px;
    border: 0 none;
}

.mid-Thanks-subscribe p {
    color: #333;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    height: 19px;
}

.mid-Thanks-subscribe a {
    color: rgb(50, 104, 145);
    text-decoration: none;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    height: 19px;
}

.thanks-hr2 {
    margin-top: 34px;
}

.theory-inflation {
    width: 945px;
    height: 753.6px;
    margin: 0 auto 40px auto;

}

.theory-inflation h3 {
    font-size: 1.20rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
    font-family: nyt-cheltenham,georgia,times new roman,times,serif;
    color: #000;
}

.inflation-p {
    width: 904px;
    margin-top: -15px;
    font-size: .875rem;
    color: #666;
    line-height: 1.125rem;
    font-weight: 400;
    font-style: normal;
    font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;

}

.grid-inflation{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "inflation-descrip inflation-descrip inflation-descrip inflation-descripExtra"
    "inflation-descrip inflation-descripExtra inflation-descrip inflation-descrip";
    width: 945px;
    height: 576px;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: #333;
    background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
    background-size: cover;
    margin-bottom: 50px;
}

.inflation-descrip {
    width: 200px;
    height: 120.5px;
    margin-top: 140px;
}

.inflation-descripExtra {
    width: 228px;
    height: 139.5px;
    margin-top: 140px;
}

.descrip-bold  {
    color: #000000;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: .05em;
    margin-right: 5px;
}

.theory-inflation hr {
    float: left;
    width: 5%;
    color: black;
}

.inflation-author {
    padding-top: 20px;
    clear: left;
}

.video-section {
    margin: 20px auto 20px auto;
}

.video-section p {
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    text-align: left;
    display: block;
    padding: 0;
    margin: 0 auto 0 auto;
    line-height: .8em;
}

.images-p-bold {
    font-size: 17px;
    margin-right: 7px;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.credits {
    color: #888;
    letter-spacing: 0.001em;
    font-size: 14px;
}

.telescopeIMG-section {
    margin: 20px auto 20px auto;
}

.telescopeIMG-section p {
    width: 584px;
    height: 60px;
    display: block;
    margin-top:0;
    line-height: .8em;
}

.end-of-article {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 0px auto 1em;
    color: rgb(102, 102, 102);
    width: 600px;
    height: 32px;
    margin-top: 0;
}

.end-of-article a {
    color: rgb(102, 102, 102);
}

.endArticle-btn-icons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 36px;
    margin-top: 40px auto 40px auto;
}

.endArticle-btn-icons button {
    width: 330px;
    height: 36px;
    background-color: rgb(50, 104, 145);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    color: white;
    display: block;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.last-icons {
    display: flex;
    width: 156px;
    height: 27px;
    justify-content: space-between;
}

.more-popular-section {
    display: flex;
    justify-content: space-between;
    margin: 50px 30px;
}

.more-popular-section a {
    text-decoration: none;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 852px;
}

.left-side hr {
    width: 100%;
    color: black;
    margin-left: 10px;
}

.more-space-astronomy h5 {
    margin-left: 10px;
    color: black;
}

.more-space-astronomy h5:hover {
    text-decoration: underline;
}

.more-editorsTitle {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: black;
    font-size: .9rem;
}

.more-row {
    display: flex;
    justify-content: flex-start;
}

.redirect-url {
    margin: 10px;
}

.redirect-url img {
    width: 272px;
    height: 181px;
}

.more-info {
    display: flex;
    flex-direction: column;
    justify-self: self-start;
}

.more-info h3 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: rgb(18, 18, 18);
    text-align: left;
    width: 262px;
    height: 50px;
}

.editors-picks h5 {
    margin-left: 10px;
}

.editors-picks h5:hover {
    text-decoration: underline;
}

.right-side {
    width: 315px;
    margin-left: 15px;
}

.right-side hr {
    width: 100%;
    color: black;
}

.right-side h5 {
    color: #333;
}

.most-pop hr {
    width: 100%;
    background-color: #D3D3D3;
    height: 1px;
    border: 0 none;
}

.most-pop p {
    font-size: 1.1875rem;
    line-height: 1.4375rem;
    color: rgb(18, 18, 18);
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-weight: 500;
}

.links-sections {
    display: block;
    margin: 20px 30px;
}

.logo-goHome {
    display: block;
    margin-top: 20px;
}

.logo-goHome hr {
    width: 100%;
    background-color: #D3D3D3;
    height: 2px;
    border: 0 none;
}

.go-home {
    float: right;
    color: rgb(86, 123, 149);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-top: 10px;
}

.all-links {
    clear: right;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "column-sec column-sec column-sec column-sec column-sec column-sec";
}

.titles-col {
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 700;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.column-sec {
    width: 150px;
    height: 25px;
    margin: 0;
    line-height: 15px;
}

.column-sec p {
    color: rgb(0, 0, 0);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.column-sec p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.all-links hr {
    width: 100%;
    background-color: #D3D3D3;
    height: 2px;
    border: 0 none;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 470px;
    margin-right: 80px;
    margin-left: 80px;
}

.footer-cont p {
    color: #666;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    text-decoration: none;
    font-size: 10px;
}

.footer-cont p:hover {
    text-decoration: underline;
    cursor: pointer;
}